<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div class="vue-app">
            <root v-bind:folder="root"></root>
        </div>

        <script type="text/x-template" id="folders-component">
              <template>
              <ul class="folders">
                <li>Folders</li>
                <folder v-bind:folder="folder"></folder>
              </ul>
            </template>
        </script>

        <script type="text/x-template" id="folder-component">
            <template>
                
              <li class="folder" v-bind:class="[folder.leaf ? 'is-leaf' : 'is-folder']">
                <span v-on:click="expand()">{{ folder.text }}</span>

                <ul class="sub-folders" v-if="folder.children && folder.children.length > 0" v-show="folder.expanded">
                  <folder v-for="child in folder.children" v-bind:folder="child"></folder>
                </ul>
                <div class="folder-empty" v-else v-show="!folder.leaf && folder.expanded">No Data</div>
              </li>
            </template>
        </script>
    </body>
</html>
