a:hover {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.mt-6 {
  margin-top: 25px !important;
}

.v-application--wrap {
  background: #f5f9ff !important;
}

.page-title-box {
  padding: 20px 0px;
}

.page-title-box h2 {
  font-size: 18px;
  margin-bottom: 0px;
  font-weight: 500;
  color: #333;
}

div.box-white {
  background: #ffffff;
  padding: 20px;
  -webkit-box-shadow: 0px 4px 10px rgba(234, 234, 234, 0.3);
          box-shadow: 0px 4px 10px rgba(234, 234, 234, 0.3);
  border-radius: 10px;
}

div.box-title-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.box-title-top h4 {
  font-size: 22px;
  margin-bottom: 0px;
  color: #333;
}

.add-form {
  background-color: #f7931f;
  display: block;
  border-radius: 5px;
  padding: 8px 15px;
  color: #fff !important;
  font-size: 16px;
  font-weight: 500;
}

.add-form:hover {
  color: #fff;
  background-color: #ffa641;
}

.data-table {
  margin-top: 25px;
}

.table-image {
  width: 80px;
  height: 80px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  margin: 5px 0px;
}

.table-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

.eye-icon {
  color: #34c38f;
  font-size: 18px;
}

.eye-icon:hover {
  color: #333;
}

ul {
  padding-left: 0px;
}

.edit-icon {
  color: #74788d;
  font-size: 18px;
}

.edit-icon:hover {
  color: #333;
}

.delete-icon {
  color: #f46a6a;
  font-size: 18px;
}

.delete-icon:hover {
  color: #333;
}

div.table-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  min-width: 80px !important;
}

div.table-actions .__eye {
  margin-right: 7px;
}

div.table-actions .__edit {
  margin-right: 7px;
}

div.table-actions .__delete {
  margin-right: 7px;
}

.save-button {
  width: 100%;
  background-color: #f7931f;
  color: #fff !important;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px 15px;
}

.save-button:hover {
  background-color: #ffa641;
}

.v-stepper__header {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.v-stepper {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.v-sheet.v-card:not(.v-sheet--outlined) {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.v-stepper__step {
  cursor: pointer;
}

.req_input {
  color: #f46a6a;
}

.nuxt-link-active {
  cursor: pointer;
}

.nuxt-link-active:hover .table__name {
  color: #f7931f;
}

.v-stepper__wrapper {
  padding-top: 5px !important;
}

.v-select__selection {
  padding-bottom: 2px !important;
}

.danger-delete {
  font-size: 60px;
  color: #f46a6a;
}

.v-menu__content {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

.accordion-category {
  margin-top: 30px;
}

.accordion-category ul.tree-list {
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
}

.accordion-category ul.tree-list li {
  width: 100%;
}

.accordion-category ul.tree-list li button.value {
  display: block;
  text-align: left;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-bottom: 1px solid #f7d6b0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accordion-category ul.tree-list li button.value:hover {
  color: #f7931f;
}

.accordion-category ul.tree-list li button.value .rotate {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.accordion-category ul.tree-list li .actions {
  display: inline-block;
  position: relative;
  z-index: 0;
}

.accordion-category ul.tree-list li ul.children-ul {
  list-style-type: none;
  padding-left: 20px;
  margin: 0px;
  display: none;
  border-left: 2px solid #e0e0e0;
}

.accordion-category ul.tree-list li ul.active {
  display: block;
}
/*# sourceMappingURL=colors.css.map */